<html>
    <head>
        <title>
            Issue Tracker App
        </title>
        
        <script src="https://kit.fontawesome.com/f3fe2a54a1.js" crossorigin="anonymous"></script>
        <%- style %>
    </head>

    <body>
        <%- include('_header'); %>      <!-- partial -->
        <main id="layout-main">
            <%- body %>
        </main>
        <%- include('_footer'); %>
        
        <!-- <%- script %> -->
    </body>
</html>