<a href="/">Show all projects</a>
<h1>Project detail page</h1>
<p><b>Project Name:</b> <%= locals.project.name %></p>
<p><b>Project Description:</b> <%= locals.project.description %></p>
<p><b>Project Author:</b> <%= locals.project.author %></p>
<p>
    <b>Issue Status:</b> 
    <form action="/projects/issues/create" method="POST">
        <input type="text" name="title" placeholder="Issue-title" required>
        <input type="text" name="description" placeholder="Describe the issue" required>
        
        <span>
            Add Labels:
            <input type="checkbox" name="issueLabelOne">
            <label for="issueLabelOne">Severity-1</label>
            <input type="checkbox" name="issueLabelTwo">
            <label for="issueLabelTwo">Severity-2</label>
            <input type="checkbox" name="issueLabelThree">
            <label for="issueLabelThree">Severity-3</label>
            <input type="checkbox" name="issueLabelFour">
            <label for="issueLabelFour">Severity-4</label>
        </span>
        
        
        <input type="text" name="author" placeholder="author" required>
        <input type="hidden" name="project" value="<%=locals.project._id%>">
        <input type="submit" value="Create New Issue">
    </form>
    <% if(!locals.project.issues) { %>
        No issues :)
    <% } else { %>
        <div>
            <ul>
                <% for(issue of project.issues) { %>
                    <li>
                        <p><b>Issue Title: </b><%= issue.title %></p>
                        <small>
                            <p><b>Issue description: </b><%= issue.description %></p>
                            
                            <!-- print array of labels -->
                            <span>Label(s):</span>
                            <%if(issue.labels.length>0) {%>
                                <%for(itr of issue.labels) {%>
                                    <span><%= itr %></span>
                                <% } %>
                            <% } else { %>
                                <span>No Label for this issue</span>
                            <% } %>

                            <p><b>This issue is posted by: </b><%= issue.author %></p>
                        </small>
                    </li>
                <% } %>
            </ul>
        </div>
    <% } %>
</p>