<link rel="stylesheet" href="/css/project_detail.css">
<!-- SECTION::Project Detail -->
<header>
    <a href="/" class="font-family-bahnschrift"><span><i class="fa-solid fa-arrow-left"></i></span>  Show All Projects</a>
</header>
<div id="project-container" class="font-family-bahnschrift">
    <p id="project-name" class="font-family-2point5rem color-white"><b><%= locals.project.name %></b></p>

    <!-- FORM::TO CREATE NEW ISSUE -->
    <%- include('_create-issue-form') -%>

    <!-- FORM::Search Issue (by title and description) -->
    <%- include('_search-issue-form') -%>

    <!-- FORM::TO FILTER ISSUES on the basis of author-->
    <%- include('_filter-issue-form') -%>
</div>
<!-- SECTION::Issues of this Project -->
<div id="issue-list-container" class="font-family-bahnschrift">
    <!-- SECTION::List of issues -->
    <span id="remove-filter-btn" class="font-family-bahnschrift"><a href='/projects/<%=locals.project.id%>'>Remove Filter(s)</a></span>
    <table cellspacing="0">
        
        <col style="width:24%">
        <col style="width:24%">
        <col style="width:24%">
        <col style="width:24%">
        <col style="width:4%">
        <thead>
            <tr id="head-row" class="color-white">
                <th>Issue-Title</th>
                <th>Description</th>
                <th>Lable(s)</th>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
    <!-- <ul> -->
        <!-- TODO::add an if condition here, i.e if no issues are there for this prject, you may show no issues here :) -->

        <!-- SECTION::showing all issues under current project -->
    <tbody>
        <%if(!locals.filteredIssues) { %>
            <% for(issue of project.issues) { %>
                <%- include('_issue') -%>
            <% } %>
        <!-- SECTION::showing only filtered issues -->
        <% } else { %>
            <% for(issue of locals.filteredIssues) { %>
                <%- include('_issue') -%>
            <% } %>
        <% } %>
        </tbody>
        <!-- </ul> -->
    </table>
        
    </div>

<footer>
    
</footer>