<!-- SECTION::Project Detail -->
<a href="/">Show all projects</a>
<h1>Project detail page</h1>
<p><b>Project Name:</b> <%= locals.project.name %></p>
<p><b>Project Description:</b> <%= locals.project.description %></p>
<p><b>Project Author:</b> <%= locals.project.author %></p>

<!-- SECTION::Issues of this Project -->
<div>
    <b>Issue Status:</b> 
    <!-- FORM::TO CREATE NEW ISSUE -->
    <%- include('_create-issue-form') -%>

    <!-- FORM::TO FILTER ISSUES -->
    <%- include('_filter-issue-form') -%>

    <!-- SECTION::List of issues -->
    <div>
        <ul>
            <!-- TODO::you can add an if condition here, i.e if no issues are there for this prject, you may show no issues here :) -->
            
            <!-- SECTION::showing all issues under current project -->
            <%if(!locals.filteredIssues) { %>
                <% for(issue of project.issues) { %>
                    <%- include('_issue') -%>
                <% } %>
            <!-- SECTION::showing only filtered issues -->
            <% } else { %>
                <% for(issue of locals.filteredIssues) { %>
                    <%- include('_issue') -%>
                <% } %>
            <% } %>
        </ul>
    </div>
</div>